@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  li {
    list-style-type: none;
  }
}

/* NAV */

.bg-colornav {
  background-color: rgb(192, 192, 52);
}

.navbar-brand {
  color: rgb(109, 35, 35);
  font-size: 40px;
  font-family: "Creepster", cursive;
}

.navbar-toggler {
  background-color: rgb(109, 35, 35);
}

.carousel {
  margin-top: 120px;
}

.main {
  margin-top: 120px;
}
.retrato__tarantino {
  width: 100%;
  height: auto;
}

.biografia__profesion {
  color: rgb(109, 35, 35);
}

.letra__navbar {
  font-family: "Montserrat", sans-serif;
}
